[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mightysween
[access "refs/for/refs/*"]
	read = group user/mightysween
	push = group user/mightysween
	label-Code-Review = -2..+2 group user/mightysween
	label-Verified = -1..+1 group user/mightysween
	rebase = group user/mightysween
	removeReviewer = group user/mightysween
	submit = group user/mightysween
[access "refs/heads/*"]
	read = group user/mightysween
	create = group user/mightysween
	push = +force group user/mightysween
	pushMerge = group user/mightysween
[access "refs/tags/*"]
	push = group user/mightysween
	push = +force group user/mightysween
